*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #1B2432;
    color: #F6F6F6 ;
}

.titulo-destaque{
        color: #39A0ED;
}

h1{
    font-weight: bold;
}

span{
    color: #39A0ED;
    border: 1px solid #39A0ED;
    padding: 10px;
}

.apresentacao{
    display: flex;
    align-items: center;
}